h1 {
    font-family: 'Audiowide';
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Exo 2';

}

h3 {
    text-align: center;
    font-family: 'Exo 2';
}

.centered {
    text-align: center;
    font-family: 'Play';
}

hr {
    size: 13px;
    text-align: center;
}

.firststartend {
    width: 75%;
}

.secondstartend {
    width: 50%;
}