h1 {
    font-family: 'Audiowide';
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Exo 2';

}

h3 {
    text-align: center;
    font-family: 'Exo 2';
}

.centered {
    text-align: center;
    font-family: 'Play';
}